#!/bin/bash

set -euo pipefail

REPO="$1"

cd "{{ git_root }}/$REPO"

git fetch origin "$(jq -r .branch "{{ config_root }}/repo-$REPO.json")"
git checkout FETCH_HEAD --force

git submodule sync --recursive
git submodule update --recursive --remote --init
git clean -xfdf
git submodule foreach --recursive git clean -xfdf

rapid-buildgit "$PWD" / modinfo.lua \
  "{{ www_root }}/$REPO" $(git rev-parse HEAD) $REPO
