server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	listen 80;
	listen [::]:80;

	server_name {{ repos_server_name }};

	ssl_certificate /etc/letsencrypt/{{ repos_server_name }}.crt;
	ssl_certificate_key /etc/letsencrypt/{{ repos_server_name }}.key;
	ssl_protocols TLSv1.2 TLSv1.3;

	root /var/www/repos;

	location / {
	}

	location ^~ /.well-known/acme-challenge/ {
		root /var/www/acme-challenge;
	}

	# location ~ /streamer\.cgi$ {
	# 	include /etc/nginx/fastcgi_params;
	# 	fastcgi_pass unix:/var/run/fcgiwrap.socket;
	# }
}
