[Unit]
Description=Run ansible pull for server

[Service]
Type=simple
TimeoutSec=20m
ExecStart=ansible-pull -U {{ playbook_repo_url }} -d /var/local/ansible-playbook -f play.yaml
CPUSchedulingPolicy = batch
Nice = 8
IOSchedulingClass = best-effort
IOSchedulingPriority = 5

[Install]
Also=ansible-pull.timer
